#mainPanel {
    padding-top: 11%;
    padding-bottom: 11.66%;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0 0 15px #e3e3e3;
    margin: 20px;
    border-radius: 15px;
    background-color: #fff;
}

#label {
    font-size: 18px;
}

.colorfulText {
    color: #0077ed;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 0px) and (max-width: 640px) {
    form {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #mainPanel {
        width: auto;
    }
}

.wrongInputMsg {
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 300px;
    color: red;
    font-size: 15px;
}

input {
    font-size: 14px;
    padding-left: 1%;
    display: block;
    background-color: #f3f3f3;
    margin: 20px auto 0;
    border: 1px solid transparent;
    cursor: text;
    width: 15%;
    height: 33px;
    border-radius: 5px;
}

input[type='password'] {
    font: bold 70% Verdana;
}

input::placeholder {
    opacity: 0.6;
    padding-left: 10px;
    font: 14px 'Montserrat', sans-serif;
}

input:focus {
    outline: none;
    border: 1px solid #dadce0;
    background-color: #eeeeee;
}

#submitBtn {
    font-size: 15px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #0077ed;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    width: 16%;
    height: 38px;
}

#submitBtn:hover {
    background-color: #0061c7;
}

#loginOfferBlock {
    padding-top: 15px;
    font-size: 13px;
}

#loginOfferBlock button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #0077ed;
    background-color: white;
    border: 0;
}

#loginOfferBlock button:hover {
    text-decoration: underline;
    color: #0061c7;
}