<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web 4</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.svg">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&#38;display=swap" rel="stylesheet"/>
</head>
<body>
<div id="pageWrapper">
    <main-header
        [studentName]="'Kuznetsov Daniil'"
        [variantNumber]="'511'"
        [groupNumber]="'P3234'">
    </main-header>

    <div id="panelsWrapper">
        <div id="controlPanel">
            <main-form>
            </main-form>
        </div>

        <div id="secondaryPanel">
            <coordinate-plane>
            </coordinate-plane>

            <result-table>
            </result-table>
        </div>
    </div>

    <main-footer
            [developers]="'&#169; Goovnocode inc. 2023'"
            [gitHubRef]="'https://github.com/tekassh1'">
    </main-footer>
</div>
</body>
</html>