* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #e3e3e3
}

#pageWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#panelsWrapper {
    display: flex;
    flex-direction: row;
}

#controlPanel {
    position: relative;
    grid-area: control;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 #e3e3e3;
    margin: 20px;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
}

#controlPanel label {
    font-size: 100%;
    box-sizing: border-box;
}

#secondaryPanel {
    width: 30%;
    display: flex;
    box-sizing: border-box;
    border-radius: 15px;
    grid-area: secondary;
    margin: 20px;
    flex-direction: column;
}

#svgDiv {
    float: left;
    display: block;
    box-sizing: border-box;

    box-shadow: 0 0 15px 0 #e3e3e3;
    border-radius: 15px;
    background-color: white;
}

#clickArea {
    cursor: pointer;
    opacity: 0;
}