@media (max-width: 641px) {
    #controlPanel {
        width: auto;
    }
}

#controlPanel {
    width: auto;
    flex: 5;
    position: relative;
    text-align: center;
    box-shadow: 0 0 15px 0 #e3e3e3;
    margin: 20px;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
}

#secondaryPanel {
    flex: 3;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 20px;
    flex-direction: column;
}

@media (min-width: 642px) and (max-width: 1216px) {
    #secondaryPanel {
        flex-direction: row;
    }
}

coordinate-plane {
    display: contents;
}

result-table {
    display: contents;
}