#svgDiv {
    flex: 1;
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-width: 338px;

    box-shadow: 0 0 15px 0 #e3e3e3;
    border-radius: 15px;
    background-color: white;
}

#clickArea {
    cursor: pointer;
    opacity: 0;
}

.defaultFontSize {
    font-size: 16px;
}

.smallFontSize {
    font-size: 10px;
}