#mainPanel {
    padding-top: 11%;
    padding-bottom: 15%;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0 0 15px #e3e3e3;
    margin: 20px;
    border-radius: 15px;
    background-color: #fff;
}

.viewComponent {
    display: contents;
}