.selectionBlock {
    padding-bottom: 60px;
}

.colorfulText {
    color: #0077ed;
}

form {
    padding-top: 50px;
}

input {
    margin-top: 20px;
    padding-left: 1%;
    background-color: #f3f3f3;
    border: 1px solid transparent;
    cursor: text;
    width: 30%;
    height: 28px;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid #dadce0;
    background-color: #eeeeee;
}

::placeholder {
    text-align: center;
}

.wrongInputMsg {
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 10px;
    color: red;
    font-size: 15px;
}

#submitBlock {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkRequestBtn {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #0077ed;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 40px;
}

#checkRequestBtn:hover {
    background-color: #0061c7;
}

#resetBtn {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    color: white;
    background-color: #404040;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 30px;
    opacity: 0.7;
}

#resetBtn:hover {
    background-color: #963323;
    opacity: 0.9;
}